services:
  dev:
    build:
      context: .
      args:
        UID: ${UID:-1000}
        GID: ${GID:-1000}
    volumes:
      - ./:/work
      - ./.ccache:/tmp/.ccache
      - /mnt/wslg:/mnt/wslg
    working_dir: /work
    tty: true
    stdin_open: true
    environment:
      - CC=gcc
      - CXX=g++
      - CCACHE_DIR=/tmp/.ccache
      - DISPLAY=${DISPLAY}
      - WAYLAND_DISPLAY=${WAYLAND_DISPLAY}
      - XDG_RUNTIME_DIR=/mnt/wslg/runtime-dir
    devices:
      - /dev/dri:/dev/dri
    group_add:
      - "video"
      - "audio"
    command: tail -f /dev/null   # container 'lives'
